@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    ---primary-color: #000000;
    ---secondary-color: #FFFFFF;
    ---number-10: 1rem;
    ---number-12: 1.2rem;
    ---number-14: 1.4rem;
    ---number-16: 1.4rem;
    ---number-20: 2rem;
    ---number-24: 2.4rem;
    ---number-32: 3.2rem;
}



/* Reset CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

html{
    font-size: 62.5%;
}


.header{
    position: fixed;
    width: 100%;
    height: 10dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style: none;
    max-width: 50rem;
    border-radius: var(---number-10);
    background-color: var(var(---secondary-color));
}

.link-item a{
    font-size: clamp(var(---number-12), 8vw, var(---number-16));
    padding: var(---number-10);
    text-decoration: none;
    color: var(---primary-color);
    border-radius: var(---number-10);
    transition: 0.3s;

    &:hover{
        background-color: var(---primary-color);
        color: var(---secondary-color)
    }
}

